.col {
	margin-right: 2.5%; /* 24 / 960 */
	float: left;
}

.col:last-of-type {
	margin-right: 0;
}

.span-1 {
	width: 6.041666666666667%;
	max-width: 6.041666666666667%; /* 58 / 960 */
}

.span-2 {
	width: 14.583333333333333%;
	max-width: 14.583333333333333%; /* 140 / 960 */
}

.span-3 {
	width: 23.125%;
	max-width: 23.125%; /* 222 / 960 */
}

.span-4 {
	width: 31.666666666666667%;
	max-width: 31.666666666666667%; /* 304 / 960 */
}

.span-5 {
	width: 40.208333333333333%;
	max-width: 40.208333333333333%; /* 386 / 960 */
}

.span-6 {
	width: 48.75%;
	max-width: 48.75%; /* 468 / 960 */
}

.span-7 {
	width: 57.291666666666667%;
	max-width: 57.291666666666667%; /* 550 / 960 */
}

.span-8 {
	width: 65.833333333333333%;
	max-width: 65.833333333333333%; /* 632 / 960 */
}

.span-9 {
	width: 74.375%;
	max-width: 74.375%; /* 714 / 960 */
}

.span-10 {
	width: 82.916666666666667%;
	max-width: 82.916666666666667%; /* 796 / 960 */
}

.span-11 {
	width: 91.458333333333333%;
	max-width: 91.458333333333333%; /* 878 / 960 */
}

.span-12 {
	width: 100%;
	max-width: 100%;
}